@font-face {
  font-family: "iconfont"; /* Project id 2480269 */
  src: url('//at.alicdn.com/t/font_2480269_7jzkl261pqe.woff2?t=1625899861854') format('woff2'),
       url('//at.alicdn.com/t/font_2480269_7jzkl261pqe.woff?t=1625899861854') format('woff'),
       url('//at.alicdn.com/t/font_2480269_7jzkl261pqe.ttf?t=1625899861854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoppingcart:before {
  content: "\e663";
}

.icon-kefu1:before {
  content: "\e625";
}

.icon-protect-lock-secure-safe-security-safety-bafcffd:before {
  content: "\e781";
}

.icon-duigou:before {
  content: "\e606";
}

.icon-shoucang2:before {
  content: "\e6a9";
}

.icon-shoucang:before {
  content: "\e645";
}

.icon-shoucang1:before {
  content: "\e613";
}

.icon-v:before {
  content: "\e653";
}

.icon-xiugai:before {
  content: "\e6b8";
}

.icon-gouwudai:before {
  content: "\e6df";
}

.icon-sort:before {
  content: "\e65e";
}

.icon-sort-copy:before {
  content: "\e70a";
}

.icon-daizhifu:before {
  content: "\e709";
}

.icon-icon-28:before {
  content: "\e619";
}

.icon-zhifushezhi:before {
  content: "\e670";
}

.icon-50:before {
  content: "\e632";
}

.icon-xinxi2:before {
  content: "\e623";
}

.icon-qiapian:before {
  content: "\e621";
}

.icon-che:before {
  content: "\e61b";
}

.icon-right:before {
  content: "\e603";
}

.icon-xiugai1:before {
  content: "\e608";
}

.icon-gouwuche:before {
  content: "\e63f";
}
